body{
    text-align: justify;

}
.speech{
    margin-left: 100px;
    margin-right: 100px;
}
.head{
    margin-bottom: 200px;
}
h1{
    margin-bottom: 100px;
}
.head{
    background-color: blue;
    height: 150px;
}