.pic1{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.head{
    margin-bottom: 150px;
    background-color: blue;
    height: 200px;
}
h4{
    text-align: left;
    margin-bottom: 100px;
    text-decoration: underline;
    margin-left: 100px;
}
.pic2{
    width: 80%;
    height: auto;
    margin-right: 80px;
}
.speech{
    text-align: justify;
    padding: 100px;

}
.pied{
    background-color: blue;
    margin-top: 50px;
}
.reseau{
    width: 20%;
    display: inline;
    margin-left:40%;
    margin-top: 70px;
}
.speech2{
    color:grey;
}
#top{
    padding-top: 20px;
}