.head{
    background-color: blue;
    height: 200px;
}
.bandeau{
    background-image: url("../image/Artisan.png");
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
}
.card-img{
    height: 300px;
    width: auto;
    margin-top: 20px;
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}
.pres{
    width: 90%;
    height: 80%;
}
.corp1{
    margin-top: 150px;
}
.top-pres{
    text-align: center;
    margin-bottom: 100px;
}
.pres2{
    text-align: center;
    margin-top: 80px;
}
.les4 img {
    width: 400px;
    height:267px ;
    margin: 50px;
}
.btn {
    margin-left: 180px;
}
.pied{
    background-color: blue;
    margin-top: 50px;
}
.reseau{
    width: 20%;
    display: inline;
    margin-left:40%;
    margin-top: 70px;
}
.speech2{
    color:grey;
}
#1{
    margin-left: 20px;
}